   
   *{
    margin: 0;
    padding: 0;
   }
    /* think-out-box-concepts-with-lightbulb-box 1 */

 .sec-title{
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    background-size:cover ;
 }
 .everything{ position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    text-align: right;
    
    color: white;
     
 }
 .sec-sub-title{
    position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;

font-family: 'Work Sans';
color: white;
 }
 .btn-primary{    
position: absolute;
Width:160px;
Height:64px;
Top:578px;
Left:1210px;
width: 160px;
height: 60px;
left: 1000px;
top: 578px;

 }

 /* Main part */
 .sec-failure{

    min-height: 100vh;
    width: 100%;
    background-image: url(../images/person.png);
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 15%;
    
 }
 .failure{position: absolute;
    width: 416px;
    height: 400px;
    left: 920px;
    top: 1148px;


 }
 .h-three{ 
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    text-align: right;
    
    color: rgb(7, 7, 7);
 }
 .sub-failure {color: rgb(0, 0, 0);
 text-decoration:none;
 
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
margin-top: 8%;

 }
  li{color: rgb(21, 16, 16);
    text-decoration:none;
    top: 1686px;
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 200;
   font-size: 16px;
   line-height: 20px;
   margin-top:5px;
   
   }